@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/* Varíaveis de cores e fontes */
:root {
    --cor-1: #fafafa;
    --cor-2: #222222;
    --cor-3: #9ed8dc;
    --cor-4: #dedede;

    --font-default: 'Montserrat', 'opens sans', sans-serif;
}

/* Backgrounds e Colors */

.bg-1 {
    background-color: var(--cor-1) !important;
}

.text-1 {
   color: var(--cor-1) !important;
}

.text-2 {
    color: var(--cor-2) !important;
 }

 .text-3 {
    color: var(--cor-3) !important;
 }

 .text-4 {
    color: var(--cor-4) !important;
 }

 /* Reutilizáveis */

 .box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 4px 8px 0 rgba(0,0,0,.05);
}

/* Fim Reutilizáveis */


/* Navbar */

.logo {
    font-family: var(--font-default);
    font-weight: bolder;
}

.redes-sociais a {
    font-size: 2rem;
}

.logo-section a:hover {
    color: var(--cor-3) !important;
}

.nav-item a:hover {
    color: var(--cor-3) !important;
}

/* Animação de entrada */

.anima-navbar {
    opacity: 0;
    animation: fall 1s 0.7s forwards;
}

@keyframes fall{
    0%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/* Fim Animação de entrada */

/* Responsivo Navbar */

@media screen and (max-width: 991px){
    .navbar{
        width: 100%;
    }

    .menu-section{
        padding-top: 1rem;
    }

    .nav-item {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .nav-item a {
        font-size: 1.8rem !important;
    }

    .redes-sociais {
        align-items: center;
        justify-content: center;
        padding-left: 0 !important; 
    }

    .redes-sociais a {
        font-size: 3rem;
    }

    .bg-collapse-1 {
        background: #f5f5f5;
    }

    .bg-collapse-2 {
        background: #f0f0f0;
    }
    .bg-collapse-3 {
        background: #e8e8e8;
    }

    .bg-collapse-4 {
        background: #dfdfdf;
    }
}
/* Fim Responsivo Navbar */

/* Fim Navbar */


/* Main */

main {
    background: #fff;
}

.principal {
    position: relative;
    width: 100%;
    height: 44rem;
    background: var(--cor-3);
    padding: 2rem;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.07),
                0 3px 8px 0 rgba(0,0,0,.07);
}

.img-wrap {
    text-align: center;
    padding-top: 2rem;
    position: relative;
    overflow: hidden;
}

#principal-content h1{
    position: absolute;
    bottom: 20%;
    padding-left: 55%;
    font-family: var(--font-default);
    font-weight: bolder;
    font-size: 4.5rem;
    letter-spacing: -5px;
    color: var(--cor-1);
}

.img-wrap img {
    border-radius: 50%;
}

.typeWriter-section {
    max-width: 80%;
    text-align: center;
    padding-top: 1.5rem;
}

.typeWriter-section-text {
    font-family: var(--font-default);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.2rem;
    padding: 1rem;
    color: var(--cor-2);
}

/* Responsivo Main */

@media screen and (max-width: 1200px) {
    #principal-content h1{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1000px) {
    #principal-content h1{
        position: relative;
        bottom: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 900px) {
    .typeWriter-section {
        max-width: 100%;
        text-align: center;
        padding-top: 0;
    }

    .typeWriter-section-text {
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 700px){
    #principal-content h1{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .img-wrap {
        text-align: center;
    }
}
/* Fim Responsivo Main */

/* Animação de entrada */

.principal {
    opacity: 0;
    animation: show 1s .5s forwards;
}

#principal-content h1 {
    opacity: 0;
    animation: show 1s 1.5s forwards;
}

@keyframes show{
    100%{
        opacity: 1;
    }
}

/* FIm Animação de entrada */

/* Type Writer */

.typeWriter-section-text::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    opacity: 0;
    animation: blink .7s 15;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  /* Fim Animação */


  #particles-js {
    position: absolute;
    height: 100%;
    top: 10px;
    z-index: -1;
  }