@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    background: var(--cor-4);
}

/* Varíaveis de cores e fontes */
:root {
    --cor-1: #fafafa;
    --cor-2: #222222;
    --cor-3: #9ed8dc;
    --cor-4: #f5f5f5;

    --font-default: 'Montserrat', 'opens sans', sans-serif;
}

/* Fim Varíaveis de cores e fontes */
/* ########################################################### */

/* Backgrounds e Colors */

.bg-1 {
    background-color: var(--cor-2) !important;
}

.bg-2 {
    background-color: #e44d25 !important;
}

.bg-3 {
    background-color: #4a90c3 !important;
}

.bg-4 {
    background-color: #f0db4f !important;
}

.bg-5 {
    background-color: #8c0cfb !important;
}

.text-1 {
   color: var(--cor-1) !important;
}

.text-2 {
    color: var(--cor-2) !important;
 }

 .text-3 {
    color: var(--cor-3) !important;
 }

 .text-4 {
    color: var(--cor-4) !important;
 }

 /* Fim Backgrounds e Colors */
 /* ########################################################### */

 /* Reutilizáveis */

 .box-shadow {
    box-shadow: 0 3px 8px -3px rgba(0,0,0, .6);
}

/* Fim Reutilizáveis */


/* Navbar */

.logo {
    font-family: var(--font-default);
    font-weight: bolder;
}

.redes-sociais a {
    font-size: 2rem;
}

.logo-section a:hover {
    color: var(--cor-3) !important;
}

.nav-item a:hover {
    color: var(--cor-3) !important;
}

/* Animação de entrada */

.anima-navbar {
    opacity: 0;
    animation: fall 1s 0.7s forwards;
}

@keyframes fall{
    0%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/* Fim Animação de entrada */

/* Responsivo Navbar */

@media screen and (max-width: 991px){
    .navbar{
        width: 100%;
    }

    .menu-section{
        padding-top: 1rem;
    }

    .nav-item {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .nav-item a {
        font-size: 1.8rem !important;
    }

    .redes-sociais {
        align-items: center;
        justify-content: center;
        padding-left: 0 !important; 
    }

    .redes-sociais a {
        font-size: 3rem;
    }

    .bg-collapse-1 {
        background: #f5f5f5;
    }

    .bg-collapse-2 {
        background: #f0f0f0;
    }
    .bg-collapse-3 {
        background: #e8e8e8;
    }

    .bg-collapse-4 {
        background: #dfdfdf;
    }
}

@media screen and (max-width: 420px) {
    .logo {
        font-size: 1.4rem !important;
    }

    .navbar-toggler {
        width: 16.7%;
    }
}

@media screen and (max-width: 350px) {
    .logo {
        font-size: 1.2rem !important;
    }

    .navbar-toggler {
        width: 20%;
    }
}

/* Fim Responsivo Navbar */

/* Fim Navbar */
 /* ########################################################### */


/* Main */

main {
    background: #fff;
}

.principal {
    width: 100%;
    height: 44rem;
    background: var(--cor-3);
    padding: 2rem;
}

.img-wrap {
    text-align: center;
    position: relative;
}

#principal-content h1{
    position: absolute;
    bottom: 20%;
    padding-left: 55%;
    font-family: var(--font-default);
    font-weight: bolder;
    font-size: 4.5rem;
    letter-spacing: -5px;
    color: var(--cor-1);
}

.img-wrap img {
    border-radius: 50%;
}

.typeWriter-section {
    max-width: 80%;
    text-align: center;
    padding-top: 1.5rem;
}

.typeWriter-section-text {
    font-family: var(--font-default);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    padding: 1rem;
    color: var(--cor-2);
}

.icons-tech {
    font-size: 6rem;
    color: var(--cor-1);
}

/* Responsivo Main */

@media screen and (max-width: 1200px) {
    #principal-content h1{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1000px) {
    #principal-content h1{
        position: relative;
        bottom: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 900px) {
    .typeWriter-section {
        max-width: 100%;
        padding-top: 0;
    }

    .typeWriter-section-text {
        padding-left: 1.6rem;
    }

    .icons-tech {
        font-size: 5rem;
        color: var(--cor-1);
        gap: 1rem !important;
    }
}

@media screen and (max-width: 700px){
    #principal-content h1{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .img-wrap {
        text-align: center;
    }

    #particles-js {
        position: absolute;
        height: 100%;
        top: 0;
        z-index: -1;
      }
}

@media screen and (max-width: 420px) {
    .img-wrap img {
        width: 90%;
    }

    #principal-content h1{
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    .typeWriter-section-text {
        font-size: 1.8rem;
    }

    #particles-js {
        /* display: none; */
        width: 90% !important;
    }

    .icons-tech {
       font-size: 3rem;
    }
}

@media screen and (max-width: 350px) {
    #principal-content h1{
        font-size: 2rem;
        padding-top: 1rem;
    }

    .typeWriter-section-text {
        font-size: 1.5rem;

    }

    .icons-tech {
        font-size: 2.5rem;
     }
}
/* Fim Responsivo Main */

/* Animação de entrada */

.principal {
    opacity: 0;
    animation: show 1s .5s forwards;
}

#principal-content h1 {
    opacity: 0;
    animation: show 1s 1.5s forwards;
}

.fa-html5 {
    opacity: 0;
    animation: show 1s 4s forwards;
}

.fa-css3-alt {
    opacity: 0;
    animation: show 1s 4.5s forwards;
}

.fa-js-square {
    opacity: 0;
    animation: show 1s 5s forwards;
}

.fa-bootstrap {
    opacity: 0;
    animation: show 1s 5.5s forwards;
}

.fa-git-alt {
    opacity: 0;
    animation: show 1s 6s forwards;
}

@keyframes show{
    100%{
        opacity: 1;
    }
}



/* FIm Animação de entrada */


/* Type Writer */

.typeWriter-section-text::after {
    content: '|';
    opacity: 1;
    display: inline-block;
    opacity: 0;
    animation: blink .7s 15;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  /* Particles */

  #particles-js {
    position: absolute;
    height: 100%;
    width: 96%;
    top: 0;
    z-index: -1;
  }

  /* Fim Animação */

  /* Fim Main */
 /* ########################################################### */


 /* Próxima Section  */

 .portifolio {
     background: var(--cor-1);
     width: 100%;
 }

 .recentes {
     font-family: var(--font-default);
     font-size: 1.2rem;
     font-weight: lighter;
 }

 .recentes::after {
     content: "";
     display: inline-block;
     position: relative;
     top: -5px;
     left: 10%;
     width: 15rem;
     height: 1px;
     background: rgb(203, 203, 203);
 }

 .recentes::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -5px;
    right: 10%;
    width: 15rem;
    height: 1px;
    background: rgb(203, 203, 203);
}

.techs {
    color: var(--cor-1);
}

   /* Fim Próxima Section */
 /* ########################################################### */


.btn-jump {
    position: absolute;
    color: var(--cor-2);
    font-size: 3rem;
    margin-top: 1.2rem;
}

.btn-jump:hover {
    color: var(--cor-3);
    font-size: 3.5rem;
}

.copy-span {
    position: relative;
    left: 20px;
    top: 18px;
    width: 100%;
    text-align: left;
}

.copy {
    text-decoration: none;
    color: var(--cor-2);
    font-family: var(--font-default);
    font-size: .9rem;
    font-weight: 300;
    
}